/* Base */
@import "./base/_variables.css";
@import "./base/_typography.css";
@import "./base/_reset.css";

/* Components */
@import "./components/_pokemon-types.css";
@import "./components/_pokemon-card.css";
@import "./components/_pokemon-details.css";
@import "./components/_pokemon-navigation.css";
@import "./components/_pokemon-evolution-chain.css";
@import "./components/_dropdown.css";

.pokemon-icon {
  font-family: "Pokemon";
}

/* Layout */
.main {
  max-width: 1350px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 48px;

  position: relative;
}

.pokedex-section {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 16px;
}

.pokedex-section__left {
  width: 100%;
}

.pokedex-section__right {
  /* position: relative; */
  width: 600px;
}

.pokedex-section__bg {
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
}

.pokemon-section__close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-lg);
  padding: 8px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--muted);
  transition: all 0.3s ease;
}

.pokemon-section__close-btn:hover {
  background-color: var(--border);
}

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 32px;
  position: relative;
  z-index: 1;
}

.pokemon-grid__loading {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Loading States */
.loading-container {
  position: fixed;
  height: 100vh;
  bottom: 0;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokeball-loading__container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vh;
  /* backdrop-filter: blur(12px); */
}

.pokeball-loading__desktop {
  width: 60px;
  height: 60px;
  background-color: var(--neutral-90);
  border-radius: 50%;
  position: relative;
  right: 0;
  overflow: hidden;
  /* border: 3px solid; */
  animation: frames 1.2s linear 0s infinite;
}

.pokeball-loading__desktop:after {
  content: "";
  position: absolute;
  width: 60px;
  height: 35px;
  background-color: var(--neutral-90);
  border-bottom: 4px solid white;
  top: -4px;
}

.pokeball-loading__desktop:before {
  content: "";
  position: absolute;
  background-color: var(--neutral-90);
  width: 25px;
  height: 25px;
  border: 5px solid #fff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* AnimationFrames */
@keyframes frames {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.pokeball-loading__mobile {
  display: block;
  width: 192px;
  height: 192px;
  background: radial-gradient(
      white 16px,
      black 17px 18px,
      white 19px 24px,
      black 25px 32px,
      transparent 33px
    ),
    linear-gradient(to bottom, red 0 80px, black 81px 96px, white 97px 100%);
  border-radius: 50%;
  border: 8px solid black;
  box-shadow: inset -16px -8px 0 0 rgba(0, 0, 0, 0.2);
  animation: fall 0.5s ease-in-out 1s,
    shake 1.25s cubic-bezier(0.36, 0.07, 0.19, 0.97) 1.5s 3,
    catch 0.5s ease-out 5.25s forwards;
}
/* Animation */
@keyframes shake {
  0% {
    transform: translateX(0) rotate(0);
  }
  20% {
    transform: translateX(-10px) rotate(-20deg);
  }
  30% {
    transform: translateX(10px) rotate(20deg);
  }
  50% {
    transform: translateX(-10px) rotate(-10deg);
  }
  60% {
    transform: translateX(10px) rotate(10deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}
@keyframes fall {
  0% {
    transform: translateY(-200%);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes catch {
  to {
    filter: saturate(0.8) brightness(0.8);
  }
}

/* Empty State */
.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.empty-state__text {
  font-weight: 500;
  color: var(--foreground);
  margin-top: 1rem;
}

@media (max-width: 1300px) {
  .pokemon-grid {
    grid-template-columns: repeat(2, minmax(250px, 250px));
  }

  .pokedex-section {
    justify-content: center;
  }
}

@media (max-width: 1020px) {
  .pokedex-section {
    display: block;
  }

  .pokemon-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .pokemon-details {
    z-index: 20;
    border-top-left-radius: var(--radius-lg);
    border-top-right-radius: var(--radius-lg);
    left: 0;
    right: 0;
    width: 100%;
  }

  .pokedex-section__bg {
    display: unset;
  }

  .pokemon-details__image {
    top: -115px;
  }

  .pokemon-details__image img {
    width: 200px;
    height: 200px;
  }
}
