.navbar-link {
  font-size: 12px;
  font-weight: 650;
  height: 87px;
  padding-inline: 4px;
  display: flex;
  align-items: center;
  gap: 7px;
  transition: var(--transition-quick) var(--duration-smooth);
  position: relative;
}

.navbar-link:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: var(--primary-red);
}

.navbar-link:where(:hover, :focus) {
  color: var(--primary-red);
}

.navbar-link.active {
  color: var(--primary-red);
}

.navbar-link.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: var(--primary-red);
}

.navbar-link.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 25px;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 83, 80, 0) 0%,
    rgba(255, 83, 80, 0.15) 100%
  );

  animation: fadeIn 2s var(--transition-quick);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.navbar-icon {
  font-family: "Pokemon";
  font-size: 1.9rem;
}

@media (max-width: 655px) {
  .navbar-link {
    flex-direction: column;
  }

  .navbar-link {
    justify-content: center;
  }

  .navbar-link span:nth-child(2) {
    font-size: 0.65rem;
  }
}

@media (max-width: 413px) {
  .navbar-link span:nth-child(2) {
    display: none;
  }
}
