*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
img,
span,
input,
select {
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button,
select {
  background: none;
  border: none;
  font: inherit;
}

button {
  cursor: pointer;
}

input {
  width: 100%;
  outline: none;
}

select {
  /* appearance: none; */
  /* -webkit-appearance: none; */
  /* -moz-appearance: none; */
  outline: none;
}

:root {
  --bg-primary: #f6f8fc;
  --white: #ffffff;

  --dark-grey: #767c7e;
  --dark-blue: #0b1d30;

  --primary-red: #ff5350;
  --neutral-100: #f6f8fc;
  --neutral-98: #f2f5fa;
  --neutral-95: #e9ecf2;
  --neutral-90: #dadfe5;
  --neutral-80: #c2c6cc;
  --neutral-60: #919499;
  --neutral-50: #797c80;
  --neutral-40: #616366;
  --neutral-30: #494a4d;
  --neutral-20: #303133;
  --neutral-10: #18191a;
  --neutral-5: #0c0c0d;

  /* fonts */
  --font-primary: "Montserrat", serif;
  --pokemon-icon: "Pokemon";

  /* shadows */
  --shadow-1: rgba(149, 157, 165, 0.2) 0px 8px 12px;
  --shadow-2: 0px 10px 30px 0px rgba(66, 71, 97, 0.1);
  --shadow-3: 0 8px 30px 0 rgba(65, 89, 214, 0.3);
  --shadow-4: 0 8px 18px 0 rgba(65, 89, 214, 0.1);

  /* border radius */
  --rounded-1: 14px;

  /* transition */
  --transition-easing-quick: cubic-bezier(0, 0.7, 0.3, 1);
  --transition-duration-quick: 200ms;
  --transition-duration-smooth: 500ms;

  /* pokemon type colors */

  /* normal */
  --normal: #9198a2;
  --normal-txt: #4d5052;

  /* Fire */
  --fire: #ff9d55;
  --fire-txt: #605045;

  /* electric */
  --electric: #f4d33c;
  --electric-txt: #5d5942;

  /* grass */
  --grass: rgb(168, 239, 144);
  --grass-txt: #205c0e;

  /* fire */
  --fire: rgb(255, 153, 77);
  --fire-txt: #651706;

  /* ice */
  --ice: #73cfbe;
  --ice-txt: #475856;

  /* fighting */
  --fighting: #ce416a;
  --fighting-txt: #57414a;

  /* Poison */
  --poison: #aa6ac8;
  --poison-txt: #524956;

  /* Ground */
  --ground: #d97845;
  --ground-txt: #5a4d42;

  /* Psychic */
  --psychic: #fa7178;
  --psychic-txt: #5d494a;

  /* Bug */
  --bug: #91c12e;
  --bug-txt: ;

  /* Rock */
  --rock: #c6b78b;
  --rock-txt: #57554f;

  /* Ghost */
  --ghost: #5269ac;
  --ghost-txt: #424952;

  /* Dragon */
  --dragon: #0b6dc3;
  --dragon-txt: #364956;

  /* Dark */
  --dark: #6a6379;
  --dark-txt: #45454a;

  /* Steel */
  --steel: #5a8ea2;
  --steel-txt: #454d52;

  /* Fairy */
  --fairy: #ec8fe7;
  --fairy-txt: #524956;
}

@font-face {
  font-family: "Pokemon";
  src: url("./assets/fonts/Essentiarum Regular.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-primary);
  font-family: var(--font-primary);
}

.main {
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 48px;
}

.pokemon-icon {
  font-family: "Pokemon";
}

.pokedex-section {
  display: grid;
  grid-template-columns: 740px 1fr;
  gap: 12px;
}

.pokedex-section__left {
  flex: 1;
}

.sort-pagination-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 550;
  font-size: 14px;

  color: var(--neutral-20);

  margin-bottom: 28px;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 6px;
}
.from-pag,
.to-pag {
  border: 1px solid var(--neutral-50);
  border-radius: 8px;

  width: 65px;
  padding: 8px;
  font-weight: normal;
}

.sort-controls {
  display: flex;
  gap: 12px;

  align-items: center;
  height: 40px;

  margin-bottom: 42px;
}

.sort-controls button {
  height: 100%;
}

.dropdown {
  position: relative;
  height: 100%;

  cursor: pointer;
}

.dropdown .dropdown-label {
  display: flex;
  align-items: center;
  gap: 4px;
}

.dropdown .dropdown-label span {
  font-size: 1.1rem;
}

.dropdown .dropdown-label p {
  font-weight: 600;
  font-size: 16px;
}

.dropdown .dropdown-btn {
  padding: 8px 12px;
  background-color: var(--white);
  box-shadow: var(--shadow-4);
  border-radius: 6px;

  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: var(--neutral-60);

  height: 100%;
}

.dropdown .dropdown-btn span {
  display: flex;
  align-items: center;
}

.dropdown-content {
  position: absolute;
  top: 110%;
  z-index: 4;

  width: 100%;
  border-radius: 6px;

  background-color: var(--white);
  box-shadow: var(--shadow-2);
}

.dropdown-item {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  gap: 3px;

  cursor: pointer;
  transition: all 0.3s;
}

.dropdown-item:hover {
  background-color: var(--neutral-95);
}

.sort-controls__reset-btn {
  background-color: #83919f;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;

  border-radius: 8px;
  width: 40px;
}

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 24px;

  /* padding: 16px; */
  position: relative;
  z-index: 1;
}

.pokemon {
  background-color: var(--white);
  border-radius: var(--rounded-1);
  box-shadow: var(--shadow-4);
  padding: 16px;

  position: relative;
  z-index: 1;
}

.pokemon__img {
  position: absolute;
  top: -25px;
  left: 50%;
  translate: -50%;
}

.pokemon__info {
  margin-top: 28px;
}

.pokemon__no,
.pokemon__name {
  text-align: center;
}

.pokemon__no {
  margin-bottom: 12px;
  color: var(--neutral-60);
  font-size: 0.85rem;
  font-weight: 800;
}

.pokemon__name {
  font-size: 1.1rem;
  color: var(--dark-blue);
  font-weight: 700;

  margin-bottom: 14px;
}

.pokemon__type-wrapper {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.pokemon__type {
  padding: 4px 11px;
  border-radius: 4px;
}

.pokemon__type-text {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.9rem;
}

.pokemon__type.normal {
}

.pokemon__type-text.normal {
}

.pokemon__type.fire {
}

.pokemon__type-text.fire {
}

.pokemon__type.water {
}

.pokemon__type-text.water {
}

.pokemon__type.electric {
}

.pokemon__type-text.eletric {
}

.pokemon__type.grass {
  background-color: var(--grass);
}

.pokemon__type-text.grass {
  color: var(--grass-txt);
}

.pokemon__type.ice {
}

.pokemon__type-text.ice {
}

.pokemon__type.fighting {
}

.pokemon__type-text.fighting {
}

.pokemon__type.poison {
}

.pokemon__type-text.poison {
}

.pokemon__type.ground {
}

.pokemon__type-text.ground {
}

.pokemon__type.flying {
}

.pokemon__type-text.flying {
}

.pokemon__type.psychic {
}

.pokemon__type-text.psychic {
}

.pokemon__type.bug {
}

.pokemon__type-text.bug {
}

.pokemon__type.rock {
}

.pokemon__type-text.rock {
}

.pokemon__type.ghost {
}

.pokemon__type-text.ghost {
}

.pokemon__type.dragon {
}

.pokemon__type-text.dragon {
}

.pokemon__type.dark {
}

.pokemon__type-text.dark {
}

.pokemon__type.steel {
}

.pokemon__type-text.steel {
}

.pokemon__type.fairy {
}

.pokemon-section__right {
}

.pokemon__type-text.fairy {
}

.pokemon__stat-container {
  background-color: var(--white);
  margin-top: 100px;

  box-shadow: var(--shadow-4);
  padding: 16px;
  border-radius: 8px;

  position: relative;
}

.pokemon__stat-container .pokemon__img {
  position: absolute;
  top: -85px;
  left: 50%;
  translate: -50%;
}

.pokemon__gender-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  margin-bottom: 6px;
}

.pokemon__gender {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 8px;
}

.pokemon__gender.male {
  border: 1px solid #85ddff;
}

.pokemon__gender.female {
  border: 1px solid #f88092;
}

.pokemon__details-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pokemon__intro-details {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.pokemon__intro-details .pokemon__number {
  font-weight: 800;
  color: var(--neutral-60);
}

.pokemon__intro-details .pokemon__name {
  font-size: 1.35rem;
  margin-bottom: 0;
}

.pokemon__intro-details .pokemon__genera {
  font-size: 0.9rem;
  color: var(--neutral-50);
}

.pokemon__entry-wrapper {
  text-align: center;
}

.pokemon__entry-wrapper h3 {
  color: var(--dark-blue);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 800;
  margin-bottom: 6px;
}

.pokemon__entry-wrapper .pokemon__flavor-text {
  font-size: 0.79rem;
  line-height: 1.4;
}

.pokemon__signature-abilities-wrapper h3 {
  color: var(--dark-blue);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 800;
  margin-bottom: 6px;
  text-align: center;
}

.pokemon__ability-wrapper {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.ability-1,
.ability-2 {
  color: var(--dark-blue);
  background-color: var(--neutral-100);
  padding: 8px 16px;
  flex: 1;
  border-radius: 24px;
  font-weight: 600;
  font-size: 0.9rem;
  border: 1px solid var(--neutral-90);
}

.pokemon__attribute-title {
  color: var(--dark-blue);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 800;
  margin-bottom: 6px;
  text-align: center;
}

.pokemon__attribute-values {
  display: flex;
  align-items: center;
  gap: 8px;

  margin-bottom: 14px;
}

.pokemon__attribute {
  flex: 1;
}

.pokemon__attribute-wrapper {
  background-color: var(--neutral-100);
  padding: 8px 16px;
  border-radius: 24px;

  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
}

.pokemon__attribute-value {
  color: var(--dark-blue);
  font-weight: 600;
  font-size: 0.9rem;
  text-align: center;
}

.pokemon__stats-container h3 {
  color: var(--dark-blue);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 800;
  margin-bottom: 6px;
  text-align: center;
}

.pokemon__stats-wrapper {
  display: flex;
  justify-content: center;
  gap: 6px;
}

.stat {
  background-color: var(--neutral-100);
  padding: 4px 4px 10px 4px;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.label {
  border-radius: 50%;

  color: var(--white);
  font-size: 0.65rem;
  font-weight: 600;

  padding: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;

  margin-bottom: 4px;
}

.stat .value {
  color: var(--dark-blue);
  font-size: 0.85rem;
  font-weight: 700;
}

.hp {
  background-color: #df2140;
}

.attack {
  background-color: #fe9951;
}

.defense {
  background-color: #fedc51;
}

.special-attack {
  background-color: #85ddff;
}

.special-defense {
  background-color: #a8f084;
}

.speed {
  background-color: #fb94a8;
}

.pokemon__evolution-container h3 {
  color: var(--dark-blue);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 800;
  margin-bottom: 6px;
  text-align: center;
}

.pokemon__evolution-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.pokemon__evolution-wrapper .min-level {
  background-color: var(--neutral-100);
  /* padding: 4px 8px; */
  padding-inline: 10px;
  padding-block: 6px;

  border-radius: 15px;
}

.min-level span {
  color: var(--neutral-60);
  font-size: 0.7rem;
  font-weight: 600;
}
